
/* Colors */

$header-text-color: #818181;
$text-highlighted-color: #DADADA;

$text-color: #FAFAFA;

$yellow-text-color: #E2B154;
$purple-text-color: #8B9EFF;
$green-text-color: #8BBEAC;

$body-bg-color: #111111;

$footer-bg-color: #0D0D0D;

/* Light Theme Colors */

$body-bg-light-color: #FAFAFA;
$body-light-color: #343333;

/* Sizes, Margins, Paddings and Dimensions */

$header-height: 80px;
