
@import '_breakpoints';
@import '_colors';

/* Custom Fonts */

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Medium.ttf);
    font-weight: 500;
}

@mixin light-theme {
    html[theme=light] & {
        @content;
    }
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font: inherit;
    box-sizing: border-box;
}

i {
    font-style: italic;
}

[data-lang] {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 2s linear;
}

html[cometa-lang=en] [data-lang=en] {
    display: inline-block;
    opacity: 1;
    visibility: visible;
    transition: all 2s linear;
}

html[cometa-lang=de] [data-lang=de] {
    display: inline-block;
    opacity: 1;
    visibility: visible;
    transition: all 2s linear;
}

html[cometa-lang=ca] [data-lang=ca] {
    display: inline-block;
    opacity: 1;
    visibility: visible;
    transition: all 2s linear;
}

em {
    color: $yellow-text-color;
}

body {
	font-family: Inter, sans-serif;
    font-weight: 200;
	font-size: 16px;
	background-color: $body-bg-color;
    color: $text-color;
    @include for-tablet-portrait-up {
        height: calc(100vh - 80px - 40vh);
    }
    @include light-theme {
        color: $body-light-color;
        font-weight: 300;
        background-color: $body-bg-light-color !important;
    }
}

h1 {
    font-size: big;
    font-weight: bold;
}
h2 {
    font-size: medium;
    font-weight: bold;
}

.cometa_bg {
    width:100%;
    height:100%;
    background-image: url("../media/img/SVG/SVG/cometa.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -10VW 10VW;
    z-index: -9999;
    @include light-theme {
        filter: invert(1);
    }
    @include for-tablet-portrait-up {
        position: fixed;
    }    
}

/* headline / ueberschrift is a tag that marks titles above a text as headline - like h1 */
.headline {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 15px;
    padding-bottom: 10px;
}

/* Header is the element at the top of the page with the language switcher */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    height: $header-height;
    background-color: $body-bg-color;
    align-items: center;
    justify-content: space-between;
    color: $text-color;
    padding: 0 30px;
    transition: top .2s ease-in-out;
    @include light-theme {
        background-color: $body-light-color;
    }

    .logo {
        span {
            font-size: 30px;
            font-weight: 400;

            &:nth-child(1) {
                color: #E2B154;
            }
            &:nth-child(1) {
                color: gray;
            }
        }
    }    
    .theme-switcher {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .switch {
            cursor: pointer;
            width: 35px;
            height: 18px;
            border: 2px solid white;
            border-radius: 20px;
            margin: 0 12px;
            position: relative;
            .point {
                height: 8px;
                width: 8px;
                background-color: white;
                border-radius: 50%;
                position: absolute;
                right: 4px;
                top: 0;
                bottom: 0;
                margin: auto;
                transition: all .15s ease-in-out;
                @include light-theme {
                    right: 20px;
                }
            }
        }
        .item {
            width:5vw;
            text-align: center;
            cursor: pointer;
            &.selected {
                color: $text-highlighted-color;
                font-weight: 500;
            }
        }
    }
    .language-switcher {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-highlighted-color;
        padding-top:10px;
        .separator {
            margin: 0 5px;
        }
        .lang {
            cursor: pointer;
            color: $yellow-text-color;
            text-decoration: none;
            &.selected {
                color: $yellow-text-color;
                border-bottom: 1px solid $yellow-text-color;
                font-weight: bold;
            }
        }
    }
}

/* MAIN PAGE STYLE */

main {
    padding-top: $header-height + 20;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 
    @include for-tablet-landscape-up {
        flex-direction: row;
        min-height: calc(100vh - 80px);
        .text {
            order: 2;
            text-align: left !important;
        }
        .logo {
            order: 1;
            padding-top: 50%;
        }
    }
    .logo {
        width: 100%;
        height: 100vw;
        background-image: url("../media/img/SVG/SVG/cometa.svg");
        background-repeat: no-repeat;
        background-position: -10VW -10VW;
        background-size: cover;
        z-index: -9999;
        @include light-theme {
            filter: invert(1);
        }
        @include for-tablet-portrait-up {
            height: calc(100vh - 80px - 40vh);
        }
        @include for-tablet-landscape-up {
            background-size: calc(70vw);
            background-position: -10VW -5VW;
        }
        @include for-desktop-up {
            background-position: -10VW 0VW;
            background-attachment: fixed;
            position: fixed;
            height: 100vw;
        }   
    }
    .spacer {
        @include for-desktop-up {
            width:40vw;
        }
    }
    .text {
        padding: 0px;
        line-height: 24px;
        a {
            text-decoration: none;
            font-weight: bold;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            &.join {
                color: $yellow-text-color;
                border-bottom-color: $yellow-text-color;
                padding-bottom: 3px;
                margin-bottom: 10px;
            }
            &.join-button {
                float: right;
                padding: 10px;
                border-radius: 10px;
                font-weight: 700;
                border: 1px solid #E2B154;
                background-color: #E2B154;
                color: black;
            }
            &.join-button:hover {
                border: 1px solid #E2B154;
                background-color: black;
                color: #E2B154;
            }
        }
        @include light-theme {
            color: $body-light-color;
        }
        color: $text-color;
        font-size: 1.1rem;
        width: 75vw;
        @include for-tablet-portrait-up {
            text-align: center;
        }
        @include for-tablet-landscape-up {            
            p {
                line-height: calc(2vw);
            }
            width:170vw;
        }
        @include for-desktop-up {
            padding-left: 5%;
            padding-right: 20px;
            padding-top:100px;
            width: 50vw;
        }
        p:not(:last-child) {
            margin-bottom: 20px;
        }
        b {
            color: white;
            @include light-theme {
                color: $body-light-color;
            }
        }
        .testimonials {
            margin-top: 50px;
            margin-bottom: 25px;
        }
        .testimonial {
            margin-bottom: 25px;
            font-family: 'Times New roman';
            padding: 10px 5px 5px 5px;
            border: 1px solid #E2B154;
            border-radius: 15px;
            @include for-tablet-portrait-up {
                padding: 50px 10px 10px 10px;
                padding: 50px;
                padding-bottom: 25px;
            }
        }
        .testimonial_from {
            font-size: 0.95rem;
        }
    }

}


.videos {
	display: flex;
    margin: 50px 0%;
    width: 100%;
	justify-content: flex-end;
	align-items: center;
    flex-wrap: wrap;
    .video-wrapper {
        flex: 1 100%;
        padding: 0 30px;
        @include for-tablet-portrait-up {
            padding: 0% 2% 2% 0%;
        }
        @include for-desktop-up {
            flex: 1 50%;
        }
        .title {
            margin-top: 30px;
            margin-bottom: 15px;
            color: $yellow-text-color;
            font-weight: 500;
        }
        .video {
            position: relative;
            padding-top: 56.25%;
            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 5px;
            }
        }
    }
}



.links {
	display: flex;
    padding: 0 30px;
	flex-direction: column;
    margin: 100px 0;
	justify-content: center;
    font-size: 1.2rem;
    @include for-tablet-portrait-up {
        padding: 0 15%;
    }
    & > div:not(:last-child) {
        margin-bottom: 50px;
    }
    .title {
        display: block;
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
        font-weight: bold;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        &.join {
            color: $yellow-text-color;
            border-bottom-color: $yellow-text-color;
        }
        &.discord {
            color: $purple-text-color;
            border-bottom-color: $purple-text-color;
        }
        &.donate {
            color: $green-text-color;
            border-bottom-color: $green-text-color;
        }
    }
    @include for-desktop-up {
        height: 100vh;
        margin: 0;
    }
    #donate {
        margin-top:150px;
    }
}


/* UL FOOTER STYLE  */

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3em;
    padding: 50px 30px;
    background-color: $footer-bg-color;
    @include light-theme {
        background-color: $body-light-color;
    }
    .footer-keywords {
        padding: 50px;
        color: #606060;
    }
    .metas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include for-tablet-portrait-up {
            margin-bottom: 30px;
            padding: 0 20%;
            flex-direction: row;
            flex-wrap: wrap;
            .list {
                flex: 0 50%;
                ul {
                    margin-left: 25px !important;
                }
            }
            .list:nth-child(-n + 2) {
                margin-bottom: 30px;
            }
        }
        @include for-tablet-landscape-up {
            padding: 0 15%;
            .list {
                flex: 0 25%;
                ul {
                    margin-left: 0 !important;
                    li {
                        line-height: 35px !important;
                    }
                }
            }
        }
        .list {
            .title {
                color: white;
                font-weight: 600;
            }
            ul {
                margin: 15px 0;
                margin-left: 50px;
                list-style-type: none;
                li {
                    font-size: 1.2rem;
                    line-height: 45px;
                    a {
                        color: lighten($header-text-color, 10);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .copyright {
        font-size: .75rem;
        padding: 0 20px;
        text-align: center;
        color: lighten($header-text-color, 10);
        @include for-tablet-landscape-up {
            font-size: 1rem;
        }
        a {
            color: lighten($header-text-color, 10);
            text-decoration: none;
        }
    }
}

b {
    font-weight: bold;
}

.emoji {
    font-family: initial;
}

.donate {
    cursor: pointer;
}

.select-donate {
    margin-top: 20px;
    .inline > * {
        display: inline-block;
    }
    .checkouts {
        display: flex;
        button {
            flex: initial;
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }
    .buttons {
        display: grid;
        grid-template-rows: repeat(2, 50px);
        grid-template-columns: repeat(4, minmax(0, 100px));
        grid-column-gap: 10px;
        text-align: center;
        align-items: center;
        @include for-tablet-portrait-up {
            grid-template-columns: repeat(4, 100px);
        }
        .name,
        .custom-donate {
            font-size: .95rem;
            @include for-tablet-portrait-up {
                font-size: 1.2rem;
            }
        }
    }
    .email {
        margin-top: 20px;
    }
    button {
        background-color: $body-bg-color;
        border-radius: 3px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid $yellow-text-color;
        color: rgba(white, .9);
        cursor: pointer;
        font-weight: 400;
        font-size: .9rem;
        @include for-tablet-portrait-up {
            font-size: 1.1rem;
            padding: 10px 15px;
        }
        &:hover,
        &.active {
            background-color: $yellow-text-color;
            color: $body-bg-color;
        }
    }
    input {
        background-color: $body-bg-color;
        border-radius: 3px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid $yellow-text-color;
        color: rgba(white, .9);
        font-weight: 400;
        width: 80px;
        font-size: .9rem;
        @include for-tablet-portrait-up {
            width: 100px;
            font-size: 1.1rem;
            padding: 10px 15px;
        }
    }
}

.create-checkout {
    margin-top: 20px;
}

.donate-result {
    color: $yellow-text-color;
    margin-top: 20px;
    font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
    background-color: $body-bg-color;
    border: 1px solid $yellow-text-color;
    width: 100%;
    margin-top: 20px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    color: rgba(white, .9);
    border-radius: 5px;
}