/* Defines breakpoints for mobile and desktop */
/* Colors */
/* Light Theme Colors */
/* Sizes, Margins, Paddings and Dimensions */
/* Custom Fonts */
@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Inter;
  src: url(fonts/Inter-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Inter;
  src: url(fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Medium.ttf);
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  box-sizing: border-box;
}

i {
  font-style: italic;
}

[data-lang] {
  display: none;
}

html[cometa-lang=en] [data-lang=en] {
  display: inline-block;
}

html[cometa-lang=de] [data-lang=de] {
  display: inline-block;
}

em {
  color: #E2B154;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 200;
  font-size: 16px;
  background-color: #111111;
  color: #FAFAFA;
}
@media (min-width: 600px) {
  body {
    height: calc(100vh - 80px - 40vh);
  }
}
html[theme=light] body {
  color: #343333;
  font-weight: 300;
  background-color: #FAFAFA !important;
}

h1 {
  font-size: medium;
  font-weight: bold;
}

.cometa_bg {
  width: 100%;
  height: 100%;
  background-image: url("../media/img/SVG/SVG/cometa.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -10VW 10VW;
  z-index: -9999;
}
html[theme=light] .cometa_bg {
  filter: invert(1);
}
@media (min-width: 600px) {
  .cometa_bg {
    position: fixed;
  }
}

/* headline / ueberschrift is a tag that marks titles above a text as headline - like h1 */
.headline {
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 15px;
  padding-bottom: 10px;
}

/* Header is the element at the top of the page with the language switcher */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  height: 80px;
  background-color: #111111;
  align-items: center;
  justify-content: space-between;
  color: #FAFAFA;
  padding: 0 30px;
  transition: top 0.2s ease-in-out;
}
html[theme=light] header {
  background-color: #343333;
}
header .theme-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .theme-switcher .switch {
  cursor: pointer;
  width: 35px;
  height: 18px;
  border: 2px solid white;
  border-radius: 20px;
  margin: 0 12px;
  position: relative;
}
header .theme-switcher .switch .point {
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.15s ease-in-out;
}
html[theme=light] header .theme-switcher .switch .point {
  right: 20px;
}
header .theme-switcher .item {
  cursor: pointer;
}
header .theme-switcher .item.selected {
  color: #DADADA;
  font-weight: 500;
}
header .language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  color: text-highlighted-color;
  padding-top: 10px;
}
header .language-switcher .separator {
  margin: 0 5px;
}
header .language-switcher .lang {
  cursor: pointer;
}
header .language-switcher .lang.selected {
  color: #E2B154;
  border-bottom: 1px solid #E2B154;
  font-weight: bold;
}

/* MAIN PAGE STYLE */
main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 900px) {
  main {
    flex-direction: row;
    min-height: calc(100vh - 80px);
  }
  main .text {
    order: 2;
    text-align: left !important;
  }
  main .logo {
    order: 1;
    padding-top: 50%;
  }
}
main .logo {
  width: 100%;
  height: 100vw;
  background-image: url("../media/img/SVG/SVG/cometa.svg");
  background-repeat: no-repeat;
  background-position: -10VW -10VW;
  background-size: cover;
  z-index: -9999;
}
html[theme=light] main .logo {
  filter: invert(1);
}
@media (min-width: 600px) {
  main .logo {
    height: calc(100vh - 80px - 40vh);
  }
}
@media (min-width: 900px) {
  main .logo {
    background-size: calc(70vw);
    background-position: -10VW -5VW;
  }
}
@media (min-width: 1200px) {
  main .logo {
    background-position: -10VW 0VW;
    background-attachment: fixed;
    position: fixed;
    height: 100vw;
  }
}
@media (min-width: 1200px) {
  main .spacer {
    width: 40vw;
  }
}
main .text {
  padding: 0px;
  line-height: 24px;
  color: #FAFAFA;
  font-size: 1.1rem;
  width: 75vw;
}
html[theme=light] main .text {
  color: #343333;
}
@media (min-width: 600px) {
  main .text {
    text-align: center;
  }
}
@media (min-width: 900px) {
  main .text {
    width: 170vw;
  }
  main .text p {
    line-height: calc(2vw);
  }
}
@media (min-width: 1200px) {
  main .text {
    padding-left: 5%;
    padding-top: 100px;
    width: 50vw;
  }
}
main .text p:not(:last-child) {
  margin-bottom: 20px;
}
main .text b {
  color: white;
}
html[theme=light] main .text b {
  color: #343333;
}
main .text .testimonials {
  margin-top: 50px;
  margin-bottom: 25px;
}
main .text .testimonial {
  padding: 50px 10px 10px 10px;
  font-family: "Times New roman";
  border: 1px solid #E2B154;
  border-radius: 15px;
}
@media (min-width: 600px) {
  main .text .testimonial {
    padding: 50px;
    padding-bottom: 25px;
  }
}
main .text .testimonial_from {
  font-size: 0.95rem;
}

.videos {
  display: flex;
  margin: 50px 0%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.videos .video-wrapper {
  flex: 1 100%;
  padding: 0 30px;
}
@media (min-width: 600px) {
  .videos .video-wrapper {
    padding: 0% 2% 2% 0%;
  }
}
@media (min-width: 1200px) {
  .videos .video-wrapper {
    flex: 1 50%;
  }
}
.videos .video-wrapper .title {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #E2B154;
  font-weight: 500;
}
.videos .video-wrapper .video {
  position: relative;
  padding-top: 56.25%;
}
.videos .video-wrapper .video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.links {
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  margin: 100px 0;
  justify-content: center;
  font-size: 1.2rem;
}
@media (min-width: 600px) {
  .links {
    padding: 0 15%;
  }
}
.links > div:not(:last-child) {
  margin-bottom: 50px;
}
.links .title {
  display: block;
  margin-bottom: 10px;
}
.links a {
  text-decoration: none;
  font-weight: bold;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.links a.join {
  color: #E2B154;
  border-bottom-color: #E2B154;
}
.links a.discord {
  color: #8B9EFF;
  border-bottom-color: #8B9EFF;
}
.links a.donate {
  color: #8BBEAC;
  border-bottom-color: #8BBEAC;
}
@media (min-width: 1200px) {
  .links {
    height: 100vh;
    margin: 0;
  }
}

/* UL FOOTER STYLE  */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 30px;
  background-color: #0D0D0D;
}
html[theme=light] footer {
  background-color: #343333;
}
footer .metas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 600px) {
  footer .metas {
    margin-bottom: 30px;
    padding: 0 20%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .metas .list {
    flex: 0 50%;
  }
  footer .metas .list ul {
    margin-left: 25px !important;
  }
  footer .metas .list:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media (min-width: 900px) {
  footer .metas {
    padding: 0 15%;
  }
  footer .metas .list {
    flex: 0 25%;
  }
  footer .metas .list ul {
    margin-left: 0 !important;
  }
  footer .metas .list ul li {
    line-height: 35px !important;
  }
}
footer .metas .list .title {
  color: white;
  font-weight: 600;
}
footer .metas .list ul {
  margin: 15px 0;
  margin-left: 50px;
  list-style-type: none;
}
footer .metas .list ul li {
  font-size: 1.2rem;
  line-height: 45px;
}
footer .metas .list ul li a {
  color: #9b9b9b;
  text-decoration: none;
}
footer .copyright {
  font-size: 0.75rem;
  padding: 0 20px;
  text-align: center;
  color: #9b9b9b;
}
@media (min-width: 900px) {
  footer .copyright {
    font-size: 1rem;
  }
}
footer .copyright a {
  color: #9b9b9b;
  text-decoration: none;
}

b {
  font-weight: bold;
}

.emoji {
  font-family: initial;
}

.donate {
  cursor: pointer;
}

.select-donate {
  margin-top: 20px;
}
.select-donate .inline > * {
  display: inline-block;
}
.select-donate .checkouts {
  display: flex;
}
.select-donate .checkouts button {
  flex: initial;
}
.select-donate .checkouts button:not(:first-child) {
  margin-left: 20px;
}
.select-donate .buttons {
  display: grid;
  grid-template-rows: repeat(2, 50px);
  grid-template-columns: repeat(4, minmax(0, 100px));
  grid-column-gap: 10px;
  text-align: center;
  align-items: center;
}
@media (min-width: 600px) {
  .select-donate .buttons {
    grid-template-columns: repeat(4, 100px);
  }
}
.select-donate .buttons .name,
.select-donate .buttons .custom-donate {
  font-size: 0.95rem;
}
@media (min-width: 600px) {
  .select-donate .buttons .name,
.select-donate .buttons .custom-donate {
    font-size: 1.2rem;
  }
}
.select-donate .email {
  margin-top: 20px;
}
.select-donate button {
  background-color: #111111;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #E2B154;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
}
@media (min-width: 600px) {
  .select-donate button {
    font-size: 1.1rem;
    padding: 10px 15px;
  }
}
.select-donate button:hover, .select-donate button.active {
  background-color: #E2B154;
  color: #111111;
}
.select-donate input {
  background-color: #111111;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #E2B154;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  width: 80px;
  font-size: 0.9rem;
}
@media (min-width: 600px) {
  .select-donate input {
    width: 100px;
    font-size: 1.1rem;
    padding: 10px 15px;
  }
}

.create-checkout {
  margin-top: 20px;
}

.donate-result {
  color: #E2B154;
  margin-top: 20px;
  font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  background-color: #111111;
  border: 1px solid #E2B154;
  width: 100%;
  margin-top: 20px;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
